@font-face {
    font-family: 'Muli';
    src: url(../fonts/Muli-VariableFont_wght.ttf) format("ttf-variations");
    font-weight: normal; 
    font-style: normal;
}
    
@font-face {
    font-family: 'Muli';
    src: url(../fonts/Muli-Italic-VariableFont_wght.ttf) format("ttf-variations");
    font-weight: normal; 
    font-style: italic;
}